<!DOCTYPE html>
<head>
    <title>Greenhouse Monitor</title>
    <link rel="icon" href="static/favicon.png">
</head>
<body>
    <h3 style="color:red;">
        Read Key or Write Key not provided
    </h3>
    <div style="margin-bottom: 10px; max-width: 300px;"> 
        <img src="{{ImagePath}}" style="object-fit:contain; max-width: 300px; width:100%; height: auto;">
    </div>
    <div>
        <form>
            <input type="text" name="password">
            <input type="submit">
        </form>
    </div>
</body>